@media all and (max-width: 650px) {
    .header-under{
        display: none;
    }
    
    .h-u_smh{
        display: flex;
    }

    .menu {
        position: static; /* スマホでの表示時にメニューを固定 */
        margin-top: 0; /* 余分な余白を取り除く */
    }

    .menu a {
        padding: 15px 0; /* ボタンに余白を設定 */
    }

    .menu a:first-child {
        padding-top: 20px; /* 必要に応じて余白のサイズを調整 */
    }

    .top-wrapper {
        padding: 180px 0 100px 0;
    }

    .top-wrapper h1 {
        font-size: 50px;
        letter-spacing: 5px;
        line-height: 2.5;
    }
    
    .top-wrapper h2{
        font-size:40px;
        line-height: 2;
    }
    
    .top-wrapper p {
        font-size:20px;
        font-weight: 200;
        color: white;
    }
}