<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InBetween</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-2-6/css/5-2-6.css">
    <link rel="shortcut icon" href="./image/mib_logo.PNG" type="image/x-icon">
    <script src="https://kit.fontawesome.com/59834cdc2a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-top">
          <a href=".\index.html">
            <img class="toplogo" src="./image/makinginbetween.png">
          </a>
        </div>
        
        <div class="header-under">
          <a href=".\content.html">展示内容</a>
          <a href=".\access.html">アクセス</a>
          <a href="#">about us</a>
          <div class="social-icons">
            <a href="https://www.instagram.com/utokyoarchitecture2024?igsh=MmVIMjlkMTBhMg=="><span class="fa-brands fa-instagram"></span></a>
            <a href="https://x.com/utarch2024?s=21"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
        </div>
      
        <div class="h-u_smh">
          <div class="openbtn"><span></span><span></span><span></span></div>
          <div class="social-icons">
            <a href="https://www.instagram.com/utokyoarchitecture2024?igsh=MmVIMjlkMTBhMg=="><span class="fa-brands fa-instagram"></span></a>
            <a href="https://x.com/utarch2024?s=21"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
        </div>

        <nav class="menu">
          <a href=".\content.html">展示内容</a>
          <a href=".\access.html">アクセス</a>
          <a href="#">about us</a>
        </nav>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
        <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-2-6/js/5-2-6.js"></script>
        <script src="./js/script.js"></script>
      </div>
    </header>

    <div class="top-wrapper">
      <div class="container">
        <h2>2024.11.3~11.4</h2>
        <h1>MAKING </h1>
        <h1>IN BETWEEN</h1>
        <p><br></p>
        <p>二つの物事の<span class="chukan">「中間」</span></p>
        <p>そこには何が生まれるのか</p>

      </div>
    </div>

  </body>

